/* 

dark cyan : #026670
mint : #9fedd7
yellow : #fef9c7
lemon : #fce181
beige : #edeae5

*/

nav {
    height: 100px;
    padding: 15px 20px 0px 20px;
    background: rgba(237, 234, 229, 0.0);
    border-bottom: 10px solid #9fedd7;
}
nav ul a {
    color: black;
    font-size: 20px;
}

a.brand-logo {
    color: black;
}

section {
    width: 100%;
    height: 100%;
}

canvas {
    margin-top: -70px;
    position: fixed; 
    max-height: 105px;
}






















