/* 

dark cyan : #026670
mint : #9fedd7
yellow : #fef9c7
lemon : #fce181
beige : #edeae5

*/
h4, h5 {
    color: #026670;
}

nav {
    height: 100px;
    padding: 15px 20px 0px 20px;
    background: white;
    border-bottom: 10px solid #9fedd7;
}
nav ul a {
    color: black;
    font-size: 20px;
    margin-right: 50px;
    margin-top: -60px;
}

canvas {
    margin-top: -15px;
    position: fixed; 
    max-height: 105px;
}

a.brand-logo {
    color: black; 
    font-size: 50PX;
}

img {
    width: 148px;
    height: 98px;
    padding: 2px;
}

#propic {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}

section {
    width: 100%;
    height: 100%;
}


.container1 {
    margin-top: 100px;
}

.skills {
    text-align: center;
    font-size: 15px;
    padding: 120px;
    background-color: #026670;
}

div.col.s4.skill-name {
    padding: 20px;
    margin: 0 auto;
}

div.col.s4.skill-name, img {
    margin: 0 auto;
}


div.row {
background-color: white;
}

div.col.s12.m7 {
    margin-top: 60px;
    width:100%;
    background: #9fedd7;
}

div.col.s12.m7 img{
    height: 220px;
    width: 220px;
    border-radius: 50%;
    border: 1px solid #edeae5;
    margin-top: 10px;
}

div.card-image {
background-image: url("../images/blue.png");
width: 100%;
}

.card .card-action a:not(.btn):not(.btn-large):not(.btn-small):not(.btn-large):not(.btn-floating) {
    color: #026670;
    text-transform: none;
    margin-right: 0px;
}

#bord {
    border-right: 2px solid #edeae5;
    padding-right: 10px;
}

#bordleft {
    margin-left: 10px;
    padding-right: 10px;
    border-right: 2px solid #edeae5;
}

#bordleft1 {
    margin-left: 10px;
}

.collapsible-header {
    background-color: #edeae5;
    border: 1px solid black;
    color: #026670;
}

.collapsible-body {
    color: #026670;
}

.material-icons {
    color: #026670;
}









