/* 

dark cyan : #026670
mint : #9fedd7
yellow : #fef9c7
lemon : #fce181
beige : #edeae5

*/

nav {
    height: 100px;
    padding: 15px 20px 0px 20px;
    background: white;
    border-bottom: 10px solid #9fedd7;
}
nav ul a {
    color: black;
    font-size: 20px;
    margin-right: 50px;
    margin-top: -60px;
}

canvas {
    margin-top: -15px;
    position: fixed; 
    max-height: 105px;
}

a.brand-logo {
    color: black; 
    font-size: 50PX;
}

img {
    width: 150px;
    height: 100px;
    padding: 2px;
}

#propic {
    width: 150px;
    height: 150px;
}

section {
    width: 100%;
    height: 100%;
}


.container1 {
    margin-top: 100px;
}

.skills {
    text-align: center;
    font-size: 15px;
    padding: 120px;
    background-color: #9fedd7;
}

div.col.s6.skill-name {
    background-color: white;
    padding: 20px;
}

.centered {
    margin: 0 auto;
}

















